<mat-accordion>
    <mat-expansion-panel style="margin: 20px;" [expanded]="step === 0" (opened)="setStep(0)" >
      <mat-expansion-panel-header>
        <mat-panel-title>
           <h3 style="font-weight: 900;">Que actividades brindamos?</h3> 
          </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
        <div style="margin-top: 100px;">
            <mat-grid-list cols="3" rowHeight="3:1" style="margin: 20px;">
                <mat-grid-tile style="box-shadow: black 2px 2px 5px;">
                    <img src="https://www.lavanguardia.com/r/GODO/LV/p7/WebSite/2020/03/06/Recortada/20200305-637190406579270776_20200305213511-kVlH-U47397637831030C-992x558@LaVanguardia-Web.jpg">
                </mat-grid-tile>
                <mat-grid-tile style="box-shadow: black 2px 2px 5px;"><img src="https://www.lavanguardia.com/r/GODO/LV/p6/WebSite/2019/02/25/Recortada/img_lvila_20190225-085702_imagenes_lv_terceros_futbol_colectivo-kOBF-U46678300601zMF-992x558@LaVanguardia-Web.jpg"></mat-grid-tile>
                <mat-grid-tile style="box-shadow: black 2px 2px 5px;"><img src="https://img2.rtve.es/v/5479080/"></mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel style="margin: 20px;">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3 style="font-weight: 700;">Futbol</h3>               
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
      </mat-expansion-panel>
      <mat-expansion-panel style="margin: 20px;">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3 style="font-weight: 700;">Basket</h3>                
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
      </mat-expansion-panel>
      <mat-expansion-panel style="margin: 20px;">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h3 style="font-weight: 700;">Volley</h3>               
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
      </mat-expansion-panel>
  </mat-accordion>