.example-form {
  min-width: 250px;
  max-width: 300px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.example-container {
  height: 100px;
  overflow-y: auto;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 10px;
}

.example-radio-button {
  margin: 10px;
}