<div style="padding: 20px;"><h2 style="padding-left: 20px;color: darkcyan;">Nosotros</h2></div>
<mat-accordion>
    <mat-expansion-panel style="margin: 20px;background: crimson;
    color: whitesmoke;
    font-size: 15px;" [expanded]="step === 0" (opened)="setStep(0)" >
      <mat-expansion-panel-header style="margin: 20px;background: crimson;
      color: whitesmoke;
      font-size: 15px;">
        <mat-panel-title>
            <h3 style="font-weight: 900;color: whitesmoke;">Quienes somos?</h3>
          </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
    
        <div style="margin-top: 100px;display: flex;align-items: center;justify-content: center;flex-wrap: wrap;">     
            <div style="margin: 20px;">
                <img src="/assets/imgs/dep4.jpg" style="height: 200px;width: 300px;">
            </div>
            <div style="margin: 20px;">
                <img src="/assets/imgs/dep3.jpg" style="height: 200px;width: 300px;">
            </div>
            <div style="margin: 20px;">
                <img src="/assets/imgs/dep6.jpg" style="height: 200px;width: 300px;">
            </div>     
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel style="margin: 20px;background: crimson;
    color: whitesmoke;
    font-size: 15px;">
        <mat-expansion-panel-header style="margin: 20px;background: crimson;
        color: whitesmoke;
        font-size: 15px;">
            <mat-panel-title>
                
                <h3 style="font-weight: 900;color: whitesmoke;">Que hacemos?</h3>
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
      </mat-expansion-panel>
      <mat-expansion-panel style="margin: 20px;background: crimson;
      color: whitesmoke;
      font-size: 15px;">
        <mat-expansion-panel-header style="margin: 20px;background: crimson;
        color: whitesmoke;
        font-size: 15px;">
            <mat-panel-title>               
                <h3 style="font-weight: 900;color: whitesmoke;">Miembros</h3>
              </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
      </mat-expansion-panel>
  </mat-accordion>

