<h3 style="color: darkcyan;">Eliminar Persona</h3>
<mat-divider></mat-divider>

    <form class="example-form">
        <div style="padding-top: 20px;padding-bottom: 30px;">
            <p>Esta seguro de eliminar esta Persona?</p>

        </div>
        <mat-divider></mat-divider>
        <div style="display: flex;justify-content: space-between;padding: 10px;">
            <div><button mat-button mat-dialog-close>Cancelar</button></div>
            <div><button mat-button (click)="deleteConvenios()" color="primary">Confirmar</button></div>
        </div>

        
    
      </form>