.example-form {
    min-width: 200px;
    max-width: 300px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  table {
    width: 100%;
  }
  .example-container {
    height: 200px;
    overflow-y: auto;
  }
  
  .mat-column-select {
    overflow: initial;
  }
  .example-radio-group {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
  }
  
  .example-radio-button {
    margin: 10px;
  }
  .mat-column-select {
    overflow: initial;
  }
  
  .mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-stepper-horizontal .mat-stepper-horizontal-line {
    margin: 0 -4px; 
  }
  h3 {
    font: 400 16px/28px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin: 0 0 0px;
}