<h3 style="color: darkcyan;">Modificar Medio de Pago</h3>
<mat-divider></mat-divider>

    <form class="example-form">
        <div style="padding-top: 20px;padding-bottom: 30px;">
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput [(ngModel)]="ActividadesDTO.nombre" name="input1"  [formControl]="nomFormControl" value="{{data.nombre}}">
          <mat-error *ngIf="nomFormControl.hasError('required')">
            Ingrese nombre Medio de Pago
         </mat-error>
        </mat-form-field>   
                <mat-form-field>
                    <mat-label>Activa ?</mat-label>
                    <mat-select [(value)]="selected">
                      <mat-option value="option1">Activa</mat-option>
                      <mat-option value="option2">Desactivada</mat-option>
                    </mat-select>
                  </mat-form-field>       
        </div>
        <mat-divider></mat-divider>
        <div style="display: flex;justify-content: space-between;padding: 10px;">
            <div><button mat-button mat-dialog-close>Cancelar</button></div>
            <div><button mat-button (click)="putActividades()" color="primary">Modificar</button></div>
        </div>

        

    
      </form>