<h3 style="color: darkcyan;">Asignar Rol</h3>
<mat-divider></mat-divider>

    <form class="example-form">
        <div style="padding-top: 20px;padding-bottom: 30px;">
          <mat-form-field class="example-full-width">
            <mat-label>Usuario</mat-label>
            <input matInput [(ngModel)]="rolDTO.username" name="input1" [formControl]="emailFormControl" placeholder="Usuario">
            <mat-error *ngIf="emailFormControl.hasError('email')">
              Ingrese un email valido
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Ingrese email
            </mat-error>
          </mat-form-field>
        <mat-form-field>
            <mat-label>Rol ?</mat-label>
            <mat-select [(value)]="selected">
              <mat-option value="option1">Admin</mat-option>
              <mat-option value="option2">Secretaria</mat-option>
              <mat-option value="option3">User</mat-option>
            </mat-select>
          </mat-form-field> 
        </div>
        <mat-divider></mat-divider>
        <div style="display: flex;justify-content: space-between;padding: 10px;">
            <div><button mat-button mat-dialog-close>Cancelar</button></div>
            <div><button mat-button (click)="postConvenios()" color="primary">Asignar</button></div>
        </div>




      </form>