.example-form {
    min-width: 300px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

h3 {
    font: 400 16px/28px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin: 0 0 0px;
}