<div style="padding: 20px;"><h2 style="padding-left: 20px;color: darkcyan;">Contactos</h2></div>
<div style="margin: 20px;">
  <div style="height: 200px;padding-top: 0px;box-shadow: black 2px 2px 5px;border-radius: 20px;"><img src="https://lh3.googleusercontent.com/proxy/jIi-N_Ih8rZ1iNUzg1AmiOSGe2y18qtHuhemFxENYjSYAT4d90hgEyqkkIWeyI3P4p_h_tKeSub2Jgze-NpDBtqbgRAnuF0" style="width: 100%;height: 100%;"></div>
</div>

  <mat-accordion>
    <mat-expansion-panel style="margin: 20px;" [expanded]="step === 0" (opened)="setStep(0)" >
      <mat-expansion-panel-header style="background: darkslategrey;">
        <mat-panel-title style="color: azure;">
            
            <h3 style="font-weight: 400;">Redes Sociales</h3>
          </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <p>Contrary to popular belief, Lorem Ipsum is not simply The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
      <mat-divider></mat-divider>
      <div style="height: 80px;display: flex;flex-direction: row;justify-content: center;align-items: center;">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon" style="margin-inline-end: 20px;">
          <mat-icon>F</mat-icon>
        </button>
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon" style="margin-inline-end: 20px;">
          <mat-icon>T</mat-icon>
        </button>
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon" style="margin-inline-end: 20px;">
          <mat-icon>I</mat-icon>
        </button>
      </div>

    </mat-expansion-panel>
    <mat-expansion-panel style="margin: 20px;">
        <mat-expansion-panel-header style="background: darkslategrey;">
            <mat-panel-title style="color: azure;">
                
                <h3 style="font-weight: 400;">Oficinas Adicionales</h3>
              </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <h3 style="font-weight: 500;">Nosotros | Nueva York</h3>
        <p>161 Bowery St, Fifth Floor, Nueva York, NY 10002</p>
        <mat-divider></mat-divider>
        <h3 style="font-weight: 500;">Nosotros | Texas</h3>
        <p>4100 Midway Rd, Suite 2120, Carrollton, TX 75007</p>
        <mat-divider></mat-divider>
        <h3 style="font-weight: 500;">Alemania</h3>
        <p>Torstr. 231, Vorderhaus, 1. OG, 10115 Berlín</p>
        <mat-divider></mat-divider>
        <h3 style="font-weight: 500;">India</h3>
        <p>Corporate Edge, Suite # 2030, DLF Epitome, Cyber ​​City
        Building 5, Torre C, Nivel 20, Fase 3, Gurugram, Haryana 122 002</p>
        <mat-divider></mat-divider>
        <h3 style="font-weight: 500;">Israel</h3>
        <p>Yigal Alon 94a, Alon Tower 1, 3rd Floor - Be All Offices</p>
        Tel Aviv, Israel 6789155
      </mat-expansion-panel>
      <mat-expansion-panel style="margin: 20px;">
        <mat-expansion-panel-header style="background: darkslategrey;">
            <mat-panel-title style="color: azure;">
                
                <h3 style="font-weight: 400;">Email | Telefono</h3>
              </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it m" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
        <mat-divider></mat-divider>
        <div>
          <h4 style="font-weight: 600;color: cadetblue;">Email. lala@lal.com</h4>
          <h4 style="font-weight: 600;color: cadetblue;">Email. lala@lal.com</h4>
          <h4 style="font-weight: 600;color: cadetblue;">Email. lala@lal.com</h4>
        </div>
        <mat-divider></mat-divider>
        <div>
          <h4 style="font-weight: 600;">Tel. 2173948714967</h4>
          <h4 style="font-weight: 600;">Tel.Central 3173948717</h4>
        </div>
        <mat-divider></mat-divider>
        


      </mat-expansion-panel>
  </mat-accordion>

  